<app-breadcrumb *ngIf="mode === 'edit'" [title]="'EDIT_USER' | translate" [items]="['USERS' | translate]"
    [active_item]="'EDIT_USER' | translate"></app-breadcrumb>
<div class="container-fluid" *ngIf="mode === 'edit'">
    <div class="row">
        <div class="col">
            <div widget class="card border-0 box-shadow">
                <div class="card-body widget-body">

                    <form [formGroup]="userroleForm">
                        <div class="row">
                            <div class="col-sm-6 mb-3">
                                <div class="form-group">
                                    <label for="username">{{"USER_NAME" |translate}}</label>
                                    <input type="text" class="form-control" formControlName="username" id="username"
                                        [placeholder]="'USER_NAME' | translate" *ngIf="userpagesQuary.length > 0"
                                        [(ngModel)]="this.userpagesQuary[0].username">
                                    <div *ngIf="f['username'].touched && f['username'].invalid"
                                        class="alert alert-danger">
                                        <div *ngIf="f['username'].errors && f['username'].errors['required']">username
                                            is
                                            required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-3">
                                <div class="form-group">
                                    <label for="password">{{"PASSWORD" |translate}} </label>
                                    <input type="text" class="form-control" [placeholder]="'PASSWORD' | translate"
                                        formControlName="password" id="password" *ngIf="userpagesQuary.length > 0"
                                        [(ngModel)]="this.userpagesQuary[0].password">
                                    <div *ngIf="f['password'].touched && f['password'].invalid"
                                        class="alert alert-danger">
                                        <div *ngIf="f['password'].errors && f['password'].errors['required']">password
                                            is
                                            required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-3">
                                <div class="form-group">
                                    <label for="confirmpassword">{{ "CONFIRM_PASS" | translate }}</label>
                                    <input type="text" class="form-control" [placeholder]="'CONFIRM_PASS' | translate"
                                        formControlName="confirmPassword" id="confirmpassword"
                                        *ngIf="userpagesQuary.length > 0" [(ngModel)]="confirmPasswordvalue">

                                    <div *ngIf="f['confirmPassword'].touched && !passwordsMatch" class="mt-2">
                                        <span class="error">{{"PASSWORD_MATCH" |translate}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <ul ngbNav #nav9="ngbNav" [(activeId)]="HomeActive8" class="nav nav-pills nav-{{tabs}}"
                                orientation="horizontal">
                                <li ngbNavItem="home">
                                    <a ngbNavLink><i class="icofont icofont-ui-home"></i>{{"PAGE_ROLES" |translate}}</a>
                                    <ng-template ngbNavContent>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="table-responsive bg-white box-shadow">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>

                                                                    <th>{{"NAME" |translate}}</th>
                                                                    <th> <input
                                                                            (change)="checkAllCheckBox('New',$event)"
                                                                            type="checkbox" class="mr-2"
                                                                            style="margin: 0 5px;"
                                                                            id="selectallNew">{{"NEW" |translate}}</th>
                                                                    <th><input
                                                                            (change)="checkAllCheckBox('edit',$event)"
                                                                            type="checkbox" class="mr-2"
                                                                            style="margin: 0 5px;"
                                                                            id="selectalledit">{{"EDIT" |translate}}
                                                                    </th>
                                                                    <th> <input
                                                                            (change)="checkAllCheckBox('delete',$event)"
                                                                            type="checkbox" class="mr-2"
                                                                            style="margin: 0 5px;"
                                                                            id="selectalldelete">{{"DELETE" |translate}}
                                                                    </th>
                                                                    <th> <input
                                                                            (change)="checkAllCheckBox('login',$event)"
                                                                            type="checkbox" class="mr-2"
                                                                            style="margin: 0 5px;"
                                                                            id="selectalllogin">{{"VIEW" |translate}}
                                                                    </th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr
                                                                    *ngFor="let userpageq of userpagesQuary; let i= index ">
                                                                    <td class="align-middle text-truncate">
                                                                        {{userpageq.title}}</td>

                                                                    <td class="align-middle text-truncate">
                                                                        <input type="checkbox" [checked]="userpageq.New"
                                                                            (change)="onChecklistChange($event, i, 0)" />
                                                                    </td>
                                                                    <td class="align-middle text-truncate">
                                                                        <input type="checkbox"
                                                                            [checked]="userpageq.edit"
                                                                            (change)="onChecklistChange($event, i, 1)" />
                                                                    </td>
                                                                    <td class="align-middle text-truncate">
                                                                        <input type="checkbox"
                                                                            [checked]="userpageq.delete"
                                                                            (change)="onChecklistChange($event, i, 2)" />

                                                                    </td>
                                                                    <td class="align-middle text-truncate">
                                                                        <input type="checkbox"
                                                                            [checked]="userpageq.login"
                                                                            (change)="onChecklistChange($event, i, 3)" />
                                                                    </td>

                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </li>
                                <li ngbNavItem="department">
                                    <a ngbNavLink><i
                                            class="icofont icofont-contacts"></i>{{"DEPARTMENT_ROLES" |translate}}</a>
                                    <ng-template ngbNavContent>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="table-responsive bg-white box-shadow">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>

                                                                    <th>{{"NAME" |translate}}</th>

                                                                    <th> <input
                                                                            (change)="checkAllCheckBox('login',$event)"
                                                                            type="checkbox" class="mr-2"
                                                                            style="margin: 0 5px;"
                                                                            id="selectalllogin">{{"VIEW" |translate}}
                                                                    </th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr
                                                                    *ngFor="let userpageq of userpagesQuary; let i= index ">
                                                                    <td class="align-middle text-truncate">
                                                                        {{userpageq.title}}</td>


                                                                    <td class="align-middle text-truncate">
                                                                        <input type="checkbox"
                                                                            [checked]="userpageq.login"
                                                                            (change)="onChecklistChange($event, i, 3)" />
                                                                    </td>

                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </li>
                                <li ngbNavItem="leaves">
                                    <a ngbNavLink><i
                                            class="icofont icofont-contacts"></i>{{"LEAVES_ROLES" |translate}}</a>
                                    <ng-template ngbNavContent>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="table-responsive bg-white box-shadow">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>

                                                                    <th>{{"NAME" |translate}}</th>

                                                                    <th> <input
                                                                            (change)="checkAllCheckBox('login',$event)"
                                                                            type="checkbox" class="mr-2"
                                                                            style="margin: 0 5px;"
                                                                            id="selectalllogin">{{"VIEW" |translate}}
                                                                    </th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr
                                                                    *ngFor="let userpageq of userpagesQuary; let i= index ">
                                                                    <td class="align-middle text-truncate">
                                                                        {{userpageq.title}}</td>


                                                                    <td class="align-middle text-truncate">
                                                                        <input type="checkbox"
                                                                            [checked]="userpageq.login"
                                                                            (change)="onChecklistChange($event, i, 3)" />
                                                                    </td>

                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </li>
                                <li ngbNavItem="timetable">
                                    <a ngbNavLink><i
                                            class="icofont icofont-contacts"></i>{{"TIMETABLE_ROLES" |translate}}</a>
                                    <ng-template ngbNavContent>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="table-responsive bg-white box-shadow">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>

                                                                    <th>{{"NAME" |translate}}</th>

                                                                    <th> <input
                                                                            (change)="checkAllCheckBox('login',$event)"
                                                                            type="checkbox" class="mr-2"
                                                                            style="margin: 0 5px;"
                                                                            id="selectalllogin">{{"VIEW" |translate}}
                                                                    </th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr
                                                                    *ngFor="let userpageq of userpagesQuary; let i= index ">
                                                                    <td class="align-middle text-truncate">
                                                                        {{userpageq.title}}</td>


                                                                    <td class="align-middle text-truncate">
                                                                        <input type="checkbox"
                                                                            [checked]="userpageq.login"
                                                                            (change)="onChecklistChange($event, i, 3)" />
                                                                    </td>

                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </li>
                                <li ngbNavItem="report">
                                    <a ngbNavLink><i
                                            class="icofont icofont-contacts"></i>{{"REPORTS_ROLES" |translate}}</a>
                                    <ng-template ngbNavContent>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="table-responsive bg-white box-shadow">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>

                                                                    <th>{{"NAME" |translate}}</th>

                                                                    <th> <input
                                                                            (change)="checkAllCheckBox('login',$event)"
                                                                            type="checkbox" class="mr-2"
                                                                            style="margin: 0 5px;"
                                                                            id="selectalllogin">{{"VIEW" |translate}}
                                                                    </th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr
                                                                    *ngFor="let userpageq of userpagesQuary; let i= index ">
                                                                    <td class="align-middle text-truncate">
                                                                        {{userpageq.title}}</td>


                                                                    <td class="align-middle text-truncate">
                                                                        <input type="checkbox"
                                                                            [checked]="userpageq.login"
                                                                            (change)="onChecklistChange($event, i, 3)" />
                                                                    </td>

                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </li>
                            </ul>
                            <div [ngbNavOutlet]="nav9" class="mt-4"></div>


                        </div>
                        <div class="row  mt-5">
                            <div class="d-flex justify-content-center gap-3">
                                <button type="submit" class="btn btn-success mr-3" [disabled]="!userroleForm.valid"
                                    (click)="SubmitAddoredit()">{{"EDIT" |translate}}</button>
                                <button class="btn btn-danger" (click)="clear()">{{"CLEAR" |translate}}</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<app-breadcrumb *ngIf="mode === 'view'" [title]="'EDIT_USER' | translate" [items]="['USERS' | translate]"
    [active_item]="'EDIT_USER' | translate"></app-breadcrumb>
<div class="container-fluid" *ngIf="mode === 'view'">
    <div class="row">
        <div class="col">
            <div widget class="card border-0 box-shadow">
                <div class="card-body widget-body">
                    <!-- <div class="p-2 flex-grow-1 bd-highlight">
                    <a class="btn btn-info add-new" (click)="Backtolist()">
                        <i class="fa fa-arrow-left mr-2"></i>
                    </a>
                </div> -->
                    <form [formGroup]="userroleForm">
                        <div class="row">
                            <div class="col-sm-6 mb-3">
                                <div class="form-group">
                                    <label for="username">{{"USER_NAME" |translate}}</label>
                                    <input type="text" readonly class="form-control" formControlName="username"
                                        id="username" *ngIf="userpagesQuary.length > 0"
                                        [(ngModel)]="this.userpagesQuary[0].username">
                                    <div *ngIf="f['username'].touched && f['username'].invalid"
                                        class="alert alert-danger">
                                        <div *ngIf="f['username'].errors && f['username'].errors['required']">username
                                            is
                                            required.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-3">
                                <div class="form-group">
                                    <label for="password">{{"PASSWORD" |translate}} </label>
                                    <input type="text" readonly class="form-control" formControlName="password"
                                        id="password" *ngIf="userpagesQuary.length > 0"
                                        [(ngModel)]="this.userpagesQuary[0].password">
                                    <div *ngIf="f['password'].touched && f['password'].invalid"
                                        class="alert alert-danger">
                                        <div *ngIf="f['password'].errors && f['password'].errors['required']">password
                                            is
                                            required.</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row mt-5">
                            <div class="col-12">
                                <div class="table-responsive bg-white box-shadow">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>

                                                <th>{{"NAME" |translate}}</th>
                                                <th> <input (change)="checkAllCheckBox('New',$event)" type="checkbox"
                                                        onclick="return false" class="mr-2" style="margin: 0 5px;"
                                                        id="selectallNew">{{"NEW" |translate}}</th>
                                                <th><input (change)="checkAllCheckBox('edit',$event)" type="checkbox"
                                                        onclick="return false" class="mr-2" style="margin: 0 5px;"
                                                        id="selectalledit">{{"EDIT" |translate}}</th>
                                                <th> <input (change)="checkAllCheckBox('delete',$event)" type="checkbox"
                                                        onclick="return false" class="mr-2" style="margin: 0 5px;"
                                                        id="selectalldelete">{{"DELETE" |translate}}</th>
                                                <th> <input (change)="checkAllCheckBox('login',$event)" type="checkbox"
                                                        onclick="return false" class="mr-2" style="margin: 0 5px;"
                                                        id="selectalllogin">{{"VIEW" |translate}}</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let userpageq of userpagesQuary; let i= index ">
                                                <td class="align-middle text-truncate">{{userpageq.title}}</td>

                                                <td class="align-middle text-truncate">
                                                    <input type="checkbox" onclick="return false"
                                                        [checked]="userpageq.New"
                                                        (change)="onChecklistChange($event, i, 0)" />
                                                </td>
                                                <td class="align-middle text-truncate">
                                                    <input type="checkbox" onclick="return false"
                                                        [checked]="userpageq.edit"
                                                        (change)="onChecklistChange($event, i, 1)" />
                                                </td>
                                                <td class="align-middle text-truncate">
                                                    <input type="checkbox" onclick="return false"
                                                        [checked]="userpageq.delete"
                                                        (change)="onChecklistChange($event, i, 2)" />

                                                </td>
                                                <td class="align-middle text-truncate">
                                                    <input type="checkbox" onclick="return false"
                                                        [checked]="userpageq.login"
                                                        (change)="onChecklistChange($event, i, 3)" />
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row  mt-5">
                        <div class="d-flex justify-content-center gap-3">
                            <button type="submit" class="btn btn-success mr-3" [disabled]="!userroleForm.valid"
                            (click)="SubmitAddoredit()">{{"EDIT" |translate}}</button>
                        <button class="btn btn-danger" (click)="clear()">{{"CLEAR" |translate}}</button>
                           </div>

                    </div> -->
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>