<app-breadcrumb
  [title]="'DETAILS' | translate"
  [items]="['PENDING_UNITS' | translate]"
  [active_item]="'DETAILS' | translate">
</app-breadcrumb>
<div class="container-fluid list-products">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body" style="min-height: 400px;">
          <div class="h-100 w-100 position-absolute d-flex align-items-center justify-content-center" style="z-index:0;">
            <app-spinner *ngIf="loading" class="d-block mx-auto"></app-spinner>
          </div>

            <div class="row" *ngIf="!loading">
              <div class="col-md-6 col-12 mb-2  image">
                <h3>{{"LOGO" |translate}}</h3>
                 <div class="image-container">
                  <img [src]="PendingUnitinfo.Photo64" alt="" >
                 </div>

              </div>
              <div class="col-md-6 col-12 mb-2  image">
                <h3>{{"CONTRACT" |translate}}</h3>
                 <div class="image-container">
                  <img  [src]="PendingUnitinfo.Contract64" alt="">
                 </div>
              </div>




              <div class="col-md-6 col-12 mb-2  image">
                <h3>{{"ID_FRONT" |translate}}</h3>
                 <div class="image-container">
                  <img [src]="PendingUnitinfo.IDFront64" alt="" >
                 </div>

              </div>
              <div class="col-md-6 col-12 mb-2  image">
                <h3>{{"ID_BACK" |translate}}</h3>
                 <div class="image-container">
                  <img  [src]="PendingUnitinfo.IDBack64" alt="">
                 </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="mb-3">
                  <label class="form-label" for="Name">{{"NAME" |translate}}</label>
                  <input class="form-control readonly"  [(ngModel)]="PendingUnitinfo.Name" id="Name" readonly  type="text" [placeholder]="'ENTER_TITLE_HERE' | translate">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="mb-3">
                  <label class="form-label" for="EMAIL">{{"EMAIL" |translate}}</label>
                  <input class="form-control readonly" readonly id="EMAIL" [(ngModel)]="PendingUnitinfo.Email" type="text" [placeholder]="'ADDRESS' | translate">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="mb-3">
                  <label class="form-label" for="MOBILE">{{"MOBILE" |translate}}</label>
                  <input class="form-control readonly" readonly id="MOBILE" [(ngModel)]="PendingUnitinfo.Phone" type="text" [placeholder]="'FACEBOOK' | translate">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="mb-3">
                  <label class="form-label" for="UNIT_NUMBER">{{"UNIT_NUMBER" |translate}}</label>
                  <input class="form-control readonly" readonly id="UNIT_NUMBER" [(ngModel)]="PendingUnitinfo.UnitNO" type="text" [placeholder]="'WATSAPP' | translate">
                </div>
              </div>


            <div class="col-12 d-flex justify-content-center">
                <div class="action-buttons">
                    <button class="btn success " (click)="accept()">{{"ACCEPT" |translate}}</button>
                    <button class="btn danger"
                    type="button" data-bs-toggle="modal" data-original-title="test" data-bs-target="#exampleModal" (click)="simpleModal(simpleContent)"
                    >{{"REJECT" |translate}}</button>



                    <ng-template #simpleContent let-modal>
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">{{"REASON" |translate}}</h5>
                            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="onSubmit(modal)">
                        <div class="modal-body">
                                <div class="row">
                                  <div class="col-12">
                                    <div class="mb-3">
                                      <label class="form-label" for="description">{{"DESCRIPTION" |translate}}</label>
                                      <textarea class="form-control" id="description" formControlName="Denay_Note" [placeholder]="'ENTER_DESCRIPTION_HERE' | translate" rows="3"></textarea>
                                    </div>
                                  </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="button" aria-label="Close" (click)="modal.dismiss('Cross click')">{{"CLOSE" |translate}}</button>
                                <button class="btn danger" [disabled]="form.invalid" type="submit">{{"REJECT" |translate}}</button>
                            </div>
                        </form>
                      </ng-template>
                </div>
            </div>





            </div>

        </div>
      </div>
    </div>
  </div>
</div>