.actions{
    padding: 2px 0.5rem;
}
.profile-details{
    h4{
        color: rgb(115, 115, 223);
    }
}
.card-header {
    padding: 0;

    img {
        width: 100%;
        height: 250px;
      transform: scale(1.5);
    }
  }