<app-breadcrumb [title]="('SERVICES' | translate)" [items]="[('SERVICES_MANAGEMENT' | translate)]" [active_item]="('SERVICES' | translate)"></app-breadcrumb>


<div class="container-fluid user-card">
    <div class="row">
      <div class="col-sm-12 mb-5" style="z-index:1;"  *ngIf="AuthUser.login == true && AuthUser.New == true">
        <button class="btn btn-primary text-center"
        [routerLink]="['/services/details', 0]" [queryParams]="{mode: 'new'}"
        type="submit">
          {{ 'ADD_SERVICE' | translate }}
        </button>
      </div>
      <div class="h-100 w-100  position-absolute  d-flex align-items-center" style="z-index:0;" *ngIf="AuthUser.login == true">
        <app-spinner *ngIf="loading" class="d-block mx-auto"></app-spinner>
      </div>
      <ng-container  *ngIf="AuthUser.login == true ">
          <ng-container *ngFor="let Data of ListData">
            <div class="col-md-6 col-lg-6 col-xl-4 box-col-4" *ngIf="!loading">
              <div class="card custom-card">

                <div class="card-profile">
                  <img class="rounded-circle"
                  [src]="Data.Logo64 ? 'data:image/png;base64,' + Data.Logo64 : defaultImagePath"
                  alt="" style="width:100px;height: 100px;">
                </div>
                <div class="text-center profile-details">

                      <h6>{{"TITLE" |translate}} : {{Data.Title}}</h6>

                      <h6> {{"USER_NAME" |translate}} : {{Data.UserName}}</h6>
                      <p >
                        {{"DATE_OF_REGISTER" | translate}} :
                        {{Data.RegisterDateTime | date:'short'}}
                      </p>
                </div>

                <div class="row actions gap-2 justify-content-between">
                  <button class="col-5 btn btn-primary"  [routerLink]="['/services/details', Data.Id]" [queryParams]="{mode: 'view'}" type="button">
                    {{ 'DETAILS' | translate}}
                  </button>
                  <button class="col-5 btn btn-dark"  [routerLink]="['/services/details', Data.Id]" [queryParams]="{mode: 'edit'}"  type="button">
                    {{ 'EDIT' | translate}}
                  </button>

                </div>
                <div class="row actions gap-2 pb-0">

                  <button class="col btn btn-danger btn-air-danger" type="button" (click)="remove(Data.Id)">
                    {{ 'DELETE' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
      </ng-container>
     <ng-container   *ngIf="AuthUser.login == false ">
      <div class="col-sm-12">
        <div class="card">
            <div class="card-body d-flex align-items-center justify-content-center"
              style="min-height: 300px;">
              <h4 class="text-center fw-bold"> {{"NOT_AUTH" |translate}}</h4>
            </div>
        </div>
      </div>
    </ng-container>
    </div>
  </div>

