<app-breadcrumb [title]="'ADD_BOOKINGS' | translate" [items]="['SERVICES_MANAGEMENT' | translate]"
  [active_item]="'ADD_BOOKINGS' | translate"></app-breadcrumb>
<div class="container-fluid list-products">

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body" style="min-height: 300px;"  *ngIf="AuthUser.login == true && AuthUser.New == true  ">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">

                <div class="col-md-6 col-12">
                    <div class="mb-3">
                      <label class="form-label" for="exampleFormControlSelect9">{{"SERVICE_NAME"|translate}}</label>
                      <select class="form-select digits"
                              id="exampleFormControlSelect9"
                              (change)="onUnitTypeChange($event)"
                              formControlName="BookingID" >

                          <option value="" selected disabled>{{"SELECT_SERVICE_NAME" |translate}}</option>
                          <option *ngFor="let booking of bookings" [value]="booking.Id">{{ booking.Title }}</option>
                      </select>
                    </div>
                  </div>
              <div class="col-md-6 col-12">
                <div class="mb-3">
                  <label class="form-label" for="Price">{{"PRICE" |translate}}</label>
                  <input class="form-control" id="Price" formControlName="Price" type="number" [placeholder]="'PRICE' | translate">
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="mb-3">
                    <label class="col-sm-3 col-form-label">{{"DATE" |translate}}</label>
                    <input class="form-control digits" formControlName="Date" type="date" value="2022-01-01">
                </div>
              </div>


              <div formGroupName="Time" class="row">
                <h6>{{"TIME" |translate}}</h6>
              <div class=" col-6 ">
                <div class="mb-3">
                  <input class="form-control"  [ngxTimepicker]="satfrom" formControlName="from" [placeholder]="'FROM_HOUR' | translate">
                  <ngx-material-timepicker #satfrom dir="ltr"></ngx-material-timepicker>
                </div>
              </div>
              <div class=" col-6 ">
                <div class="mb-3">

                  <input class="form-control" [ngxTimepicker]="satto" formControlName="to" [placeholder]="'TO_HOUR' | translate">
                  <ngx-material-timepicker #satto dir="ltr"></ngx-material-timepicker>
                </div>
              </div>
            </div>





              <div class="col-12 mt-4">
                <div class="d-flex justify-content-center">
                  <button class="btn btn-outline-success-2x w-50" [disabled]="!form.valid" type="submit">{{"SUBMIT" |translate}}</button>
                </div>
              </div>




            </div>
          </form>
        </div>
        <div class="card-body d-flex align-items-center justify-content-center"
        style="min-height: 300px;" *ngIf="AuthUser.New == false ">
        <h4 class="text-center fw-bold"> {{"NOT_AUTH" |translate}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>