<!-- <app-breadcrumb [title]="'CLIENTS_LIST' | translate" [items]="['USERS' | translate, 'CLIENTS' | translate]" [active_item]="'CLIENTS_LIST' | translate"></app-breadcrumb>
<div class="container-fluid list-products">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive product-table">
              <div class="mb-3 row">
                <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">{{ 'SEARCH..' | translate}}</label>
                <div class="col-xs-3 col-sm-auto">
                  <input id="table-complete-search" type="text" class="form-control" name="searchTerm">
                </div>
              </div>
              <app-crud-list [data]="organizations">
                <ng-template #headers>
                  <th scope="col">{{ 'NAME' | translate }}</th>
                  <th scope="col">{{ 'LOGO' | translate }}</th>
                  <th scope="col">{{ 'BUSINESS_ACTIVITY' | translate }}</th>
                  <th scope="col">{{ 'HEADQUARTERS' | translate }}</th>
                  <th scope="col">{{ 'EMAIL' | translate }}</th>
                  <th scope="col">{{ 'MANAGER' | translate }}</th>
                  <th scope="col">{{ 'ACTIONS' | translate }}</th>
                </ng-template>
                <ng-template #rows let-row>
                  <td class="sorting_1">{{row.name}}</td>
                  <td class="sorting_1"><img [src]="row.logo" alt="{{row.name}}" height="50"></td>
                  <td class="sorting_1">{{row.businessActivity}}</td>
                  <td class="sorting_1">{{row.headquarters}}</td>
                  <td class="sorting_1">{{row.email}}</td>
                  <td class="sorting_1">{{row.manager}}</td>
                  <td class="sorting_1 d-flex">
                    <button class="btn btn-primary btn-xs" routerLink="/users/clients/details/{{row.id}}">{{'DETAILS' | translate}}</button>
                    <button class="btn btn-danger btn-xs">{{'DELETE' | translate}}</button>
                  </td>
                </ng-template>
              </app-crud-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<app-breadcrumb [title]="'ADD_OWNERS' | translate" [items]="['OWNERS' | translate]" [active_item]="'ADD_OWNERS' | translate"></app-breadcrumb>

<div class="container-fluid list-products">
   <div class="row">
     <div class="col-sm-12">
       <div class="card">
          <div class="card-body"style="    min-height: 400px;
          display: flex;
          align-items: center;
          justify-content: center;">
            <!-- <div class="table-responsive product-table">
              <form>
              <div class="row">
                <div class="mb-3 col">
                  <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">{{'NAME' | translate}}</label>
                  <div class="col-xs-3 col-sm-auto">
                    <input id="table-complete-search" type="text" class="form-control" name="searchTerm">
                  </div>
                </div>
                  <div class="mb-3 col">
                    <label class="col-form-label">{{'SUBSCRIPTION_TYPE' | translate}}</label>
                    <ng-select class="form-control" [items]="subscriptions" bindLabel="name"
                    bindValue="id" [multiple]="true" placeholder="{{'SELECT_SUBSCRIPTION' | translate}}" [(ngModel)]="subscriptionType">
                    </ng-select>
                  </div>
              </div>
              <app-crud-list [data]="userChats">
                  <ng-template #headers>
                      <th class="sorting_asc" scope="col">{{'NAME' | translate}}</th>
                      <th class="sorting_asc" scope="col">{{'PROFILE' | translate}}</th>
                      <th class="sorting_asc" scope="col">{{'STATUS' | translate}}</th>
                      <th class="sorting_asc" scope="col">{{'ONLINE' | translate}}</th>
                      <th class="sorting_asc" scope="col">{{'ACTIONS' | translate}}</th>
                  </ng-template>
                  <ng-template #rows let-row>
                      <td class="sorting_1">{{row.name}}</td>
                      <td class="sorting_1"><img src="{{row.profile}}" alt="{{'PROFILE' | translate}}"></td>
                      <td class="sorting_1">{{row.status}}</td>
                      <td class="sorting_1" [ngClass]="{'font-success' : row.online, 'font-danger' : !row.online}">
                          {{ row.online ? ['ONLINE' | translate] + '🟢' : ['OFFLINE' | translate] + '🔴'}}
                      </td>
                      <td class="sorting_1">
                          <button class="btn btn-info btn-xs mx-2" type="button" data-original-title="btn btn-info btn-xs" title="">{{'VIEW' | translate}}</button>
                          <button class="btn btn-danger btn-xs mx-2" type="button" data-original-title="btn btn-danger btn-xs" title="">{{'END' | translate}}</button>
                      </td>
                  </ng-template>
              </app-crud-list>
           </form>
           </div> -->
         </div>
       </div>
     </div>
   </div>
 </div>