.noInquires{
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
}
.action-buttons{
    .success{
        background-color: #7DC006;
        color:#fff ;
    }
    .danger{
        background-color: #E52727;
        color:#fff ;
    }
}

.invalid {
    border: 2px solid red !important;
  }
  .error {
    color: red;
    font-size: 16px;
    margin: 5px !important;
  }
  .search-container {
    position: relative;
    margin-right: 1rem;
    .clear-btn {
      position: absolute;
      padding: 10px;
      top: 50%;
      left: 1px;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      font-size: 18px;
      color: #aaa;
  
      &:hover {
        color: #000;
      }
    }
  }
  ::ng-deep .mdc-icon-button {
    display: none !important;
  }
  