.noInquires{
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
}
.action-buttons{
    .success{
        background-color: #7DC006;
        color:#fff ;
    }
    .danger{
        background-color: #E52727;
        color:#fff ;
    }
}
