.table-border-horizontal tr, .table-border-horizontal th, .table-border-horizontal td {
    padding: 0.75rem 1rem !important;
}
.noInquires{
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
}