.noInquires{
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
}
.action-buttons{
    .success{
        background-color: #7DC006;
        color:#fff ;
    }
    .danger{
        background-color: #E52727;
        color:#fff ;
    }
}

.invalid {
    border: 2px solid red !important;
  }
  .error {
    color: red;
    font-size: 16px;
    margin: 5px !important;
  }

  ::ng-deep .ngx-dropdown-container .ngx-dropdown-button {
    text-align: start !important;
  }
  ::ng-deep  .ngx-dropdown-container .ngx-dropdown-button .nsdicon-angle-down{
    float: left !important;
  }
  ::ng-deep .ngx-dropdown-container .ngx-dropdown-list-container .search-container label{
    text-align: start !important;
    width: 100% !important;
  }
  // .ngx-dropdown-container .ngx-dropdown-list-containe.search-container label{
    
  // }
  ::ng-deep .cdk-overlay-pane {
 
    background: rgb(255, 255, 255) !important;
    border-bottom: 1px solid black !important;
  }
  ::ng-deep .mat-select-search-input{
    background-color: #fff !important;
  }
  ::ng-deep .mdc-icon-button {
    display: none !important;
  }