<app-breadcrumb
  [title]="'EX_WORKTIME_LIST' | translate"
  [items]="['WORKTIME' | translate]"
  [active_item]="'EX_WORKTIME_LIST' | translate"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header pb-0" >
          <button class="btn btn-primary text-center" (click)="lmModal(lmcontent)"
            type="button">
            {{ 'ADD_EX_WORKTIME' | translate }}
          </button>
        </div>
        <div class="card-body d-flex align-items-center justify-content-center" style="min-height: 300px;"
         >
          <div class=" w-100  position-absolute  d-flex align-items-center" style="z-index:0;">
            <app-spinner *ngIf="loading" class="d-block mx-auto"></app-spinner>
          </div>
          <div class="table-responsive w-100" *ngIf="!loading">
            <table class="table table-hover " *ngIf="ListData.length > 0">
              <thead>
                <tr>
                  <th scope="col" class="text-center">#</th>
                  <th scope="col" class="text-center">{{"SHIFT" | translate}}
                  </th>
                  <th scope="col" class="text-center">{{"FromDate" |translate}}</th>
                  <th scope="col" class="text-center">{{"ToDate" |translate}}</th>
                  <th scope="col" class="text-center">{{"overTimeStart" | translate}}
                  </th>
                  <th scope="col" class="text-center">{{"START" |translate}}</th>
                  
                  <th scope="col" class="text-center">{{"END" | translate}}
                  </th>
                  <th scope="col" class="text-center">{{"START_SHIFT" |translate}}</th>
                  
                  <th scope="col" class="text-center">{{"END_SHIFT" | translate}}
                  </th>
                  <th scope="col" class="text-center">{{"earlyPermission" |translate}}</th>
                  
                  <th scope="col" class="text-center">{{"latePermission" | translate}}
                  </th>
                  
                  
                  <th scope="col" class="text-center">{{"ACTIONS" |translate}}</th>
                </tr>
              </thead>
              <tbody>

                <ng-container *ngFor="let data of ListData; let i = index">
                  <tr>
                    <td class="text-center">{{i + 1}}</td>
                    <td class="text-center">{{getShiftNameByRecordId(data.id)}}</td>
                    <td class="text-center">{{ data.from | date:'yyyy-MM-dd' }}</td>
                    <td class="text-center">{{ data.to | date:'yyyy-MM-dd' }}</td>
                    <td class="text-center">{{data.overTimeStart}}</td>
                     
                    <td class="text-center">{{data.startSign}}</td>
                    <td class="text-center">{{data.endSign}}</td>
                    <td class="text-center">{{data.startShift}}</td>
                    <td class="text-center">{{data.endShift}}</td>
                    <td class="text-center">{{data.earlyPermission}}</td>
                    <td class="text-center">{{data.latePermission}}</td>
   

                    <td class="d-flex gap-1 action-buttons justify-content-center">
                   
                      <button class="btn  success" type="button" (click)="EditModal(Editcontent,data.id)" >
                        {{"EDIT" |translate}}</button>
                      <button class="btn  danger" type="button" 
                        (click)="delete(data.id)"> {{"DELETE" |translate}}</button>
                    </td>

                  </tr>

                </ng-container>
              </tbody>
            </table>
          </div>
          <div *ngIf="ListData.length == 0 && !loading " class="noInquires">
            <p class="text-center"> {{"NO_CONTENT" |translate}}</p>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>

<ng-template #lmcontent let-modal>
  <div class="modal-header">
      <h4 class="modal-title ">{{ 'ADD_EX_WORKTIME' | translate }}</h4>
      <button type="button" class="btn-close" aria-label="Close"
          (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="AddForm" (ngSubmit)="onSubmit(modal)">
    <div class="modal-body">
      <div class="row mb-3">
        <div class="col-12">
          <div class="mb-3 row ">
            <div class="col-md-6 col-12 mb-2">
              <div>
                <label class="form-label" for="validation3">{{"SHIFT" | translate}}</label>
                <select class="form-select" id="validation3" formControlName="shiftId">
                  <option selected disabled value="">{{"SHIFT" | translate}}</option>
                  <option *ngFor="let type of Shifts" [value]="type.id">{{ getName(type) }}</option>
                </select>
                <div class="error"
                  *ngIf="AddForm.get('shiftId')?.invalid && (AddForm.get('shiftId')?.dirty || isSubmited)">
                  يجب اختيار الوردية
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12 mb-2">
              <div class="mb-3">
                <label class="form-label" for="from">{{"FromDate" |translate}}</label>
                <input class="form-control digits" id="from" formControlName="from" name="from"
                  [class.invalid]="AddForm.get('from')?.invalid && isSubmited"
                placeholder="yyyy-mm-dd" [owlDateTimeTrigger]="dt3"
                  [owlDateTime]="dt3">
                <div class="error"
                  *ngIf="AddForm.get('from')?.invalid && (AddForm.get('from')?.dirty || isSubmited)">
                  يجب إدخال التاريخ  
                </div>
                <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
              </div>
            </div>
          </div>
          <div class="mb-3 row ">
            <div class="col-md-6 col-12 mb-2">
                <div class="mb-3">
                  <label class="form-label" for="to">{{"ToDate" |translate}}</label>
                  <input class="form-control digits" id="to" formControlName="to" name="to"
                    [class.invalid]="AddForm.get('to')?.invalid && isSubmited"
                  placeholder="yyyy-mm-dd" [owlDateTimeTrigger]="dt4"
                    [owlDateTime]="dt4">
                  <div class="error"
                    *ngIf="AddForm.get('to')?.invalid && (AddForm.get('to')?.dirty || isSubmited)">
                    يجب إدخال التاريخ  
                  </div>
                  <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
                </div>
              </div>
              <div class="col-md-6 col-12 mb-2">
                <div>
                  <label class="form-label" for="overTimeStart">{{"overTimeStart" | translate}}</label>
                  <input class="form-control" id="overTimeStart" formControlName="overTimeStart"
                    (blur)="formatTime('overTimeStart')" [placeholder]="'overTimeStart' | translate">
                    <div class="error" *ngIf="AddForm.get('overTimeStart')?.hasError('invalidTime') && (AddForm.get('overTimeStart')?.dirty || isSubmited)">
                      تنسيق الوقت غير صحيح. يرجى إدخال وقت صحيح (مثل 14:30).
                    </div>
                  <!-- Time Exceeded Message -->
                  <div class="error"
                    *ngIf="AddForm.get('overTimeStart')?.hasError('timeExceeded') && (AddForm.get('overTimeStart')?.dirty || isSubmited)">
                    لا يمكن أن يتجاوز الوقت 23:59.
                  </div>
  
                  <!-- Required Field Message -->
                  <div class="error"
                    *ngIf="AddForm.get('overTimeStart')?.hasError('required') && (AddForm.get('overTimeStart')?.dirty || isSubmited)">
                    يجب اختيار الوقت الإضافي
                  </div>
                </div>
              </div>
           
          </div>
          <!-- <div class="mb-3 row ">
            <div class="col-6 mb-2">
              <div>
                <label class="form-label" for="startSign">{{"START" | translate}}</label>
                <input class="form-control" [ngxTimepicker]="startSign" formControlName="startSign"
                [class.invalid]="AddForm.get('startSign')?.invalid && isSubmited"
                    [placeholder]="'FROM_HOUR' | translate">
                  <ngx-material-timepicker #startSign dir="ltr"></ngx-material-timepicker>
                <div class="error"
                  *ngIf="AddForm.get('startSign')?.invalid && (AddForm.get('startSign')?.dirty || isSubmited)">
                  يجب اختيار وقت البداية
                </div>
              </div>
            </div>
            <div class="col-6 mb-2">
              <div>
                <label class="form-label" for="endSign">{{"END" | translate}}</label>
                <input class="form-control" [ngxTimepicker]="endSign" formControlName="endSign"
                [class.invalid]="AddForm.get('endSign')?.invalid && isSubmited"
                    [placeholder]="'TO_HOUR' | translate">
                  <ngx-material-timepicker #endSign dir="ltr"></ngx-material-timepicker>
                <div class="error"
                  *ngIf="AddForm.get('endSign')?.invalid && (AddForm.get('endSign')?.dirty || isSubmited)">
                  يجب اختيار وقت النهاية
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3 row ">
            <div class="col-6 mb-2">
              <div>
                <label class="form-label" for="startShift">{{"START_SHIFT" | translate}}</label>
                <input class="form-control" [ngxTimepicker]="startShift" formControlName="startShift"
                [class.invalid]="AddForm.get('startShift')?.invalid && isSubmited"
                    [placeholder]="'FROM_HOUR' | translate">
                  <ngx-material-timepicker #startShift dir="ltr"></ngx-material-timepicker>
                <div class="error"
                  *ngIf="AddForm.get('startShift')?.invalid && (AddForm.get('startShift')?.dirty || isSubmited)">
                  يجب اختيار وقت بداية الوردية
                </div>
              </div>
            </div>
            <div class="col-6 mb-2">
              <div>
                <label class="form-label" for="endShift">{{"END_SHIFT" | translate}}</label>
                <input class="form-control" [ngxTimepicker]="endShift" formControlName="endShift"
                [class.invalid]="AddForm.get('endShift')?.invalid && isSubmited"
                    [placeholder]="'TO_HOUR' | translate">
                  <ngx-material-timepicker #endShift dir="ltr"></ngx-material-timepicker>
                <div class="error"
                  *ngIf="AddForm.get('endShift')?.invalid && (AddForm.get('endShift')?.dirty || isSubmited)">
                  يجب اختيار وقت نهاية الوردية
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3 row ">
            <div class="col-6 mb-2">
              <div>
                <label class="form-label" for="earlyPermission">{{"earlyPermission" | translate}}</label>
                <input class="form-control" [ngxTimepicker]="earlyPermission" formControlName="earlyPermission"
                [class.invalid]="AddForm.get('earlyPermission')?.invalid && isSubmited"
                    [placeholder]="'FROM_HOUR' | translate">
                  <ngx-material-timepicker #earlyPermission dir="ltr"></ngx-material-timepicker>
                <div class="error"
                  *ngIf="AddForm.get('earlyPermission')?.invalid && (AddForm.get('earlyPermission')?.dirty || isSubmited)">
                  يجب اختيار وقت الإذن المبكر
                </div>
              </div>
            </div>
            <div class="col-6 mb-2">
              <div>
                <label class="form-label" for="latePermission">{{"latePermission" | translate}}</label>
                <input class="form-control" [ngxTimepicker]="latePermission" formControlName="latePermission"
                [class.invalid]="AddForm.get('latePermission')?.invalid && isSubmited"
                    [placeholder]="'TO_HOUR' | translate">
                  <ngx-material-timepicker #latePermission dir="ltr"></ngx-material-timepicker>
                <div class="error"
                  *ngIf="AddForm.get('latePermission')?.invalid && (AddForm.get('latePermission')?.dirty || isSubmited)">
                  يجب اختيار وقت  الإذن المتأخر
                </div>
              </div>
            </div>
          </div> -->
          <div class="mb-3 row ">
            <div class="col-6 mb-2">
              <div>
                <label class="form-label" for="startSign">{{"START" | translate}}</label>
                <input class="form-control" id="startSign" formControlName="startSign" (blur)="formatTime('startSign')"
                  [placeholder]="'START' | translate">
                  <div class="error" *ngIf="AddForm.get('startSign')?.hasError('invalidTime') && (AddForm.get('startSign')?.dirty || isSubmited)">
                    تنسيق الوقت غير صحيح. يرجى إدخال وقت صحيح (مثل 14:30).
                  </div>
                <!-- Time Exceeded Message -->
                <div class="error"
                  *ngIf="AddForm.get('startSign')?.hasError('timeExceeded') && (AddForm.get('startSign')?.dirty || isSubmited)">
                  لا يمكن أن يتجاوز الوقت 23:59.
                </div>

                <!-- Required Field Message -->
                <div class="error"
                  *ngIf="AddForm.get('startSign')?.hasError('required') && (AddForm.get('startSign')?.dirty || isSubmited)">
                  يجب اختيار وقت البداية
                </div>
              </div>
            </div>
            <div class="col-6 mb-2">
              <div>
                <label class="form-label" for="endSign">{{"END" | translate}}</label>
                <input class="form-control" id="endSign" formControlName="endSign" (blur)="formatTime('endSign')"
                  [placeholder]="'END' | translate">
                  <div class="error" *ngIf="AddForm.get('endSign')?.hasError('invalidTime') && (AddForm.get('endSign')?.dirty || isSubmited)">
                    تنسيق الوقت غير صحيح. يرجى إدخال وقت صحيح (مثل 14:30).
                  </div>
                <!-- Time Exceeded Message -->
                <div class="error"
                  *ngIf="AddForm.get('endSign')?.hasError('timeExceeded') && (AddForm.get('endSign')?.dirty || isSubmited)">
                  لا يمكن أن يتجاوز الوقت 23:59.
                </div>

                <!-- Required Field Message -->
                <div class="error"
                  *ngIf="AddForm.get('endSign')?.hasError('required') && (AddForm.get('endSign')?.dirty || isSubmited)">
                  يجب اختيار وقت النهاية
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3 row ">
            <div class="col-6 mb-2">
              <div>
                <label class="form-label" for="startShift">{{"START_SHIFT" | translate}}</label>
                <input class="form-control" id="startShift" formControlName="startShift"
                  (blur)="formatTime('startShift')" [placeholder]="'START_SHIFT' | translate">
                  <div class="error" *ngIf="AddForm.get('startShift')?.hasError('invalidTime') && (AddForm.get('startShift')?.dirty || isSubmited)">
                    تنسيق الوقت غير صحيح. يرجى إدخال وقت صحيح (مثل 14:30).
                  </div>
                <!-- Time Exceeded Message -->
                <div class="error"
                  *ngIf="AddForm.get('startShift')?.hasError('timeExceeded') && (AddForm.get('startShift')?.dirty || isSubmited)">
                  لا يمكن أن يتجاوز الوقت 23:59.
                </div>

                <!-- Required Field Message -->
                <div class="error"
                  *ngIf="AddForm.get('startShift')?.hasError('required') && (AddForm.get('startShift')?.dirty || isSubmited)">
                  يجب اختيار وقت بداية الوردية
                </div>
              </div>
            </div>
            <div class="col-6 mb-2">
              <div>
                <label class="form-label" for="endShift">{{"END_SHIFT" | translate}}</label>
                <input class="form-control" id="endShift" formControlName="endShift" (blur)="formatTime('endShift')"
                  [placeholder]="'END_SHIFT' | translate">

                <!-- Time Exceeded Message -->
                <div class="error"
                  *ngIf="AddForm.get('endShift')?.hasError('timeExceeded') && (AddForm.get('endShift')?.dirty || isSubmited)">
                  لا يمكن أن يتجاوز الوقت 23:59.
                </div>

                <!-- Required Field Message -->
                <div class="error"
                  *ngIf="AddForm.get('endShift')?.hasError('required') && (AddForm.get('endShift')?.dirty || isSubmited)">
                  يجب اختيار وقت نهاية الوردية
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3 row ">
            <div class="col-6 mb-2">
              <div>
                <label class="form-label" for="earlyPermission">{{"earlyPermission" | translate}}</label>
                <input class="form-control" id="earlyPermission" formControlName="earlyPermission"
                  (blur)="formatTime('earlyPermission')" [placeholder]="'earlyPermission' | translate">
                  <div class="error" *ngIf="AddForm.get('earlyPermission')?.hasError('invalidTime') && (AddForm.get('earlyPermission')?.dirty || isSubmited)">
                    تنسيق الوقت غير صحيح. يرجى إدخال وقت صحيح (مثل 14:30).
                  </div>
                <!-- Time Exceeded Message -->
                <div class="error"
                  *ngIf="AddForm.get('earlyPermission')?.hasError('timeExceeded') && (AddForm.get('earlyPermission')?.dirty || isSubmited)">
                  لا يمكن أن يتجاوز الوقت 23:59.
                </div>

                <!-- Required Field Message -->
                <div class="error"
                  *ngIf="AddForm.get('earlyPermission')?.hasError('required') && (AddForm.get('earlyPermission')?.dirty || isSubmited)">
                  يجب اختيار وقت الإذن المبكر
                </div>
              </div>
            </div>
            <div class="col-6 mb-2">
              <div>
                <label class="form-label" for="latePermission">{{"latePermission" | translate}}</label>
                <input class="form-control" id="latePermission" formControlName="latePermission"
                  (blur)="formatTime('latePermission')" [placeholder]="'latePermission' | translate">
                  <div class="error" *ngIf="AddForm.get('latePermission')?.hasError('invalidTime') && (AddForm.get('latePermission')?.dirty || isSubmited)">
                    تنسيق الوقت غير صحيح. يرجى إدخال وقت صحيح (مثل 14:30).
                  </div>
                <!-- Time Exceeded Message -->
                <div class="error"
                  *ngIf="AddForm.get('latePermission')?.hasError('timeExceeded') && (AddForm.get('latePermission')?.dirty || isSubmited)">
                  لا يمكن أن يتجاوز الوقت 23:59.
                </div>

                <!-- Required Field Message -->
                <div class="error"
                  *ngIf="AddForm.get('latePermission')?.hasError('required') && (AddForm.get('latePermission')?.dirty || isSubmited)">
                  يجب اختيار وقت الإذن المتأخر
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-12 ">
              <div class="form-check checkbox checkbox-primary  mb-3">
                <input class="form-check-input" formControlName="isHour" id="isHour" type="checkbox">
                <label class="form-check-label" for="isHour">{{"isHour" |translate}}</label>
              </div>
              
            </div>
          
          </div>
    </div>
    </div>
  </div>
    <!-- Modal Footer with Action Buttons -->
    <div class="modal-footer action-buttons">
      <button class="btn btn-primary" type="button" aria-label="Close"
        (click)="modal.dismiss('Cross click')">{{"CLOSE" | translate}}</button>
      <button class="btn success" type="submit">{{"SAVE" | translate}}</button>
    </div>
  </form>
  
</ng-template>
<ng-template #Editcontent let-modal>
  <div class="modal-header">
      <h4 class="modal-title ">{{ 'EDIT_EX_WORKTIME' | translate }}</h4>
      <button type="button" class="btn-close" aria-label="Close"
          (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form [formGroup]="EditForm" (ngSubmit)="onSubmitEdit(modal)">
    <div class="modal-body">
      <div class="row mb-3">
        <div class="col-12">
            <div class="mb-3 row ">
                <div class="col-md-6 col-12 mb-2">
                  <div>
                    <label class="form-label" for="validation3">{{"SHIFT" | translate}}</label>
                    <select class="form-select" id="validation3" formControlName="shiftId">
                      <option selected disabled value="">{{"SHIFT" | translate}}</option>
                      <option *ngFor="let type of Shifts" [value]="type.id">{{ getName(type) }}</option>
                    </select>
                    <div class="error"
                      *ngIf="EditForm.get('shiftId')?.invalid && (EditForm.get('shiftId')?.dirty || isEditSubmited)">
                      يجب اختيار الوردية
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12 mb-2">
                  <div class="mb-3">
                    <label class="form-label" for="from">{{"FromDate" |translate}}</label>
                    <input class="form-control digits" id="from" formControlName="from" name="from"
                      [class.invalid]="EditForm.get('from')?.invalid && isEditSubmited"
                    placeholder="yyyy-mm-dd" [owlDateTimeTrigger]="dt3"
                      [owlDateTime]="dt3">
                    <div class="error"
                      *ngIf="EditForm.get('from')?.invalid && (EditForm.get('from')?.dirty || isEditSubmited)">
                      يجب إدخال التاريخ  
                    </div>
                    <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                  </div>
                </div>
              </div>
              <div class="mb-3 row ">
                <div class="col-md-6 col-12 mb-2">
                    <div class="mb-3">
                      <label class="form-label" for="to">{{"ToDate" |translate}}</label>
                      <input class="form-control digits" id="to" formControlName="to" name="to"
                        [class.invalid]="EditForm.get('to')?.invalid && isEditSubmited"
                      placeholder="yyyy-mm-dd" [owlDateTimeTrigger]="dt4"
                        [owlDateTime]="dt4">
                      <div class="error"
                        *ngIf="EditForm.get('to')?.invalid && (EditForm.get('to')?.dirty || isEditSubmited)">
                        يجب إدخال التاريخ  
                      </div>
                      <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
                    </div>
                  </div>
          
                <div class="col-12 mb-2">
                  <div>
                    <label class="form-label" for="overTimeStart">{{"overTimeStart" | translate}}</label>
                    <input class="form-control" id="overTimeStart" formControlName="overTimeStart"
                      (blur)="EditformatTime('overTimeStart')" [placeholder]="'overTimeStart' | translate">
                      <div class="error" *ngIf="EditForm.get('overTimeStart')?.hasError('invalidTime') && (EditForm.get('overTimeStart')?.dirty || isSubmited)">
                        تنسيق الوقت غير صحيح. يرجى إدخال وقت صحيح (مثل 14:30).
                      </div>
                    <!-- Time Exceeded Message -->
                    <div class="error"
                      *ngIf="EditForm.get('overTimeStart')?.hasError('timeExceeded') && (EditForm.get('overTimeStart')?.dirty || isSubmited)">
                      لا يمكن أن يتجاوز الوقت 23:59.
                    </div>
    
                    <!-- Required Field Message -->
                    <div class="error"
                      *ngIf="EditForm.get('overTimeStart')?.hasError('required') && (EditForm.get('overTimeStart')?.dirty || isSubmited)">
                      يجب اختيار الوقت الإضافي
                    </div>
                  </div>
                </div>
              
               
              </div>
     
          <div class="mb-3 row ">
            <div class="col-6 mb-2">
              <div>
                <label class="form-label" for="startSign">{{"START" | translate}}</label>
                <input class="form-control" id="startSign" formControlName="startSign" (blur)="EditformatTime('startSign')"
                  [placeholder]="'START' | translate">
                  <div class="error" *ngIf="EditForm.get('startSign')?.hasError('invalidTime') && (EditForm.get('startSign')?.dirty || isSubmited)">
                    تنسيق الوقت غير صحيح. يرجى إدخال وقت صحيح (مثل 14:30).
                  </div>
                <!-- Time Exceeded Message -->
                <div class="error"
                  *ngIf="EditForm.get('startSign')?.hasError('timeExceeded') && (EditForm.get('startSign')?.dirty || isSubmited)">
                  لا يمكن أن يتجاوز الوقت 23:59.
                </div>

                <!-- Required Field Message -->
                <div class="error"
                  *ngIf="EditForm.get('startSign')?.hasError('required') && (EditForm.get('startSign')?.dirty || isSubmited)">
                  يجب اختيار وقت البداية
                </div>
              </div>
            </div>
            <div class="col-6 mb-2">
              <div>
                <label class="form-label" for="endSign">{{"END" | translate}}</label>
                <input class="form-control" id="endSign" formControlName="endSign" (blur)="EditformatTime('endSign')"
                  [placeholder]="'END' | translate">
                  <div class="error" *ngIf="EditForm.get('endSign')?.hasError('invalidTime') && (EditForm.get('endSign')?.dirty || isSubmited)">
                    تنسيق الوقت غير صحيح. يرجى إدخال وقت صحيح (مثل 14:30).
                  </div>
                <!-- Time Exceeded Message -->
                <div class="error"
                  *ngIf="EditForm.get('endSign')?.hasError('timeExceeded') && (EditForm.get('endSign')?.dirty || isSubmited)">
                  لا يمكن أن يتجاوز الوقت 23:59.
                </div>

                <!-- Required Field Message -->
                <div class="error"
                  *ngIf="EditForm.get('endSign')?.hasError('required') && (EditForm.get('endSign')?.dirty || isSubmited)">
                  يجب اختيار وقت النهاية
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3 row ">
            <div class="col-6 mb-2">
              <div>
                <label class="form-label" for="startShift">{{"START_SHIFT" | translate}}</label>
                <input class="form-control" id="startShift" formControlName="startShift"
                  (blur)="EditformatTime('startShift')" [placeholder]="'START_SHIFT' | translate">
                  <div class="error" *ngIf="EditForm.get('startShift')?.hasError('invalidTime') && (EditForm.get('startShift')?.dirty || isSubmited)">
                    تنسيق الوقت غير صحيح. يرجى إدخال وقت صحيح (مثل 14:30).
                  </div>
                <!-- Time Exceeded Message -->
                <div class="error"
                  *ngIf="EditForm.get('startShift')?.hasError('timeExceeded') && (EditForm.get('startShift')?.dirty || isSubmited)">
                  لا يمكن أن يتجاوز الوقت 23:59.
                </div>

                <!-- Required Field Message -->
                <div class="error"
                  *ngIf="EditForm.get('startShift')?.hasError('required') && (EditForm.get('startShift')?.dirty || isSubmited)">
                  يجب اختيار وقت بداية الوردية
                </div>
              </div>
            </div>
            <div class="col-6 mb-2">
              <div>
                <label class="form-label" for="endShift">{{"END_SHIFT" | translate}}</label>
                <input class="form-control" id="endShift" formControlName="endShift" (blur)="EditformatTime('endShift')"
                  [placeholder]="'END_SHIFT' | translate">

                <!-- Time Exceeded Message -->
                <div class="error"
                  *ngIf="EditForm.get('endShift')?.hasError('timeExceeded') && (EditForm.get('endShift')?.dirty || isSubmited)">
                  لا يمكن أن يتجاوز الوقت 23:59.
                </div>

                <!-- Required Field Message -->
                <div class="error"
                  *ngIf="EditForm.get('endShift')?.hasError('required') && (EditForm.get('endShift')?.dirty || isSubmited)">
                  يجب اختيار وقت نهاية الوردية
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3 row ">
            <div class="col-6 mb-2">
              <div>
                <label class="form-label" for="earlyPermission">{{"earlyPermission" | translate}}</label>
                <input class="form-control" id="earlyPermission" formControlName="earlyPermission"
                  (blur)="EditformatTime('earlyPermission')" [placeholder]="'earlyPermission' | translate">
                  <div class="error" *ngIf="EditForm.get('earlyPermission')?.hasError('invalidTime') && (EditForm.get('earlyPermission')?.dirty || isSubmited)">
                    تنسيق الوقت غير صحيح. يرجى إدخال وقت صحيح (مثل 14:30).
                  </div>
                <!-- Time Exceeded Message -->
                <div class="error"
                  *ngIf="EditForm.get('earlyPermission')?.hasError('timeExceeded') && (EditForm.get('earlyPermission')?.dirty || isSubmited)">
                  لا يمكن أن يتجاوز الوقت 23:59.
                </div>

                <!-- Required Field Message -->
                <div class="error"
                  *ngIf="EditForm.get('earlyPermission')?.hasError('required') && (EditForm.get('earlyPermission')?.dirty || isSubmited)">
                  يجب اختيار وقت الإذن المبكر
                </div>
              </div>
            </div>
            <div class="col-6 mb-2">
              <div>
                <label class="form-label" for="latePermission">{{"latePermission" | translate}}</label>
                <input class="form-control" id="latePermission" formControlName="latePermission"
                  (blur)="EditformatTime('latePermission')" [placeholder]="'latePermission' | translate">
                  <div class="error" *ngIf="EditForm.get('latePermission')?.hasError('invalidTime') && (EditForm.get('latePermission')?.dirty || isSubmited)">
                    تنسيق الوقت غير صحيح. يرجى إدخال وقت صحيح (مثل 14:30).
                  </div>
                <!-- Time Exceeded Message -->
                <div class="error"
                  *ngIf="EditForm.get('latePermission')?.hasError('timeExceeded') && (EditForm.get('latePermission')?.dirty || isSubmited)">
                  لا يمكن أن يتجاوز الوقت 23:59.
                </div>

                <!-- Required Field Message -->
                <div class="error"
                  *ngIf="EditForm.get('latePermission')?.hasError('required') && (EditForm.get('latePermission')?.dirty || isSubmited)">
                  يجب اختيار وقت الإذن المتأخر
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12 ">
              <div class="form-check checkbox checkbox-primary  mb-3">
                <input class="form-check-input" formControlName="isHour" id="isHour" type="checkbox">
                <label class="form-check-label" for="isHour">{{"isHour" |translate}}</label>
              </div>
              
            </div>
          
          </div>
    </div>
    </div>
  </div>
    <!-- Modal Footer with Action Buttons -->
    <div class="modal-footer action-buttons">
      <button class="btn btn-primary" type="button" aria-label="Close"
        (click)="modal.dismiss('Cross click')">{{"CLOSE" | translate}}</button>
      <button class="btn success" type="submit">{{"SAVE" | translate}}</button>
    </div>
  </form>
  
</ng-template>