.noInquires{
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
}
.action-buttons{
    .success{
        background-color: #7DC006;
        color:#fff ;
    }
    .danger{
        background-color: #E52727;
        color:#fff ;
    }
}

.invalid {
    border: 2px solid red !important;
  }
  .error {
    color: red;
    font-size: 16px;
    margin: 5px !important;
  }