<app-breadcrumb
  [title]="'APPROVMENT' | translate"
  [items]="['LEAVES' | translate]"
  [active_item]="'APPROVMENT' | translate"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
  
        <div class="card-body d-flex align-items-center justify-content-center" style="min-height: 300px;"
         >
          <div class=" w-100  position-absolute  d-flex align-items-center" style="z-index:0;">
            <app-spinner *ngIf="loading" class="d-block mx-auto"></app-spinner>
          </div>
          <div class="table-responsive w-100" *ngIf="!loading">
            <table class="table table-hover " *ngIf="ListData.length > 0">
              <thead>
                <tr>
                  <th scope="col" class="text-center">#</th>
                  <th scope="col" class="text-center">{{"EMPLOYE" |translate}}</th>
                  <th scope="col" class="text-center">{{"LEAVE" |translate}}</th>
                  <th scope="col" class="text-center">{{"DATE_FROM" |translate}}</th>
                  <th scope="col" class="text-center">{{"DATE_TO" |translate}}</th>
                  <th scope="col" class="text-center">{{"ACTIONS" |translate}}</th>
                </tr>
              </thead>
              <tbody>

                <ng-container *ngFor="let data of ListData; let i = index">
                  <tr>
                    <td class="text-center">{{i + 1}}</td>
                    <td class="text-center">
                      {{ translate.currentLang === 'en' ? data.employeeUserName : data.employeeUserSurname }}
                    </td>
            
                    <td class="text-center">
                      {{ translate.currentLang === 'en' ? data.leaveNameEn : data.leaveNameAr }}
                    </td>
                    <td class="text-center">{{data.from | date:'yyyy-MM-dd'}}</td>
                    <td class="text-center">{{data.to | date:'yyyy-MM-dd'}}</td>
               
             

                    <td class="d-flex gap-1 action-buttons justify-content-center">
                      <button class="btn  success" type="button"  (click)="accept(data.id)">
                        {{"ACCEPT" |translate}}</button>
                      <button class="btn  danger" type="button"   (click)="Deny(lmcontent,data.id)"
                     > {{"DENY" |translate}}</button>
                    </td>

                  </tr>

                </ng-container>
              </tbody>
            </table>
          </div>
          <div *ngIf="ListData.length == 0 && !loading " class="noInquires">
            <p class="text-center"> {{"NO_CONTENT" |translate}}</p>
          </div>
        </div>
        <!-- <div class="card-footer border-top-0">
    
          <div class="d-flex justify-content-center align-items-center mt-3 mb-3">
            <nav aria-label="Page navigation ng-star-inserted" *ngIf="totalPages > 1">
              <ul class="pagination pagination-primary">
                <li class="page-item previous" [class.disabled]="currentPage === 1">
                  <a
                    class="page-link"
                    href="javascript:void(0)"
                    (click)="setPage(currentPage - 1)"
                    tabindex="-1">
                    {{ "Previous" | translate }}
                  </a>
                </li>
                <li
                  class="page-item"
                  *ngFor="let page of pagesToShow"
                  [class.active]="currentPage === page">
                  <a
                    class="page-link"
                    href="javascript:void(0)"
                    (click)="setPage(page)"
                    >{{ page }}</a
                  >
                </li>
                <li
                  class="page-item next"
                  [class.disabled]="currentPage === totalPages">
                  <a
                    class="page-link"
                    href="javascript:void(0)"
                    (click)="setPage(currentPage + 1)">
                    {{ "Next" | translate }}
                  </a>
                </li>
              </ul>
            </nav>
          </div>
     </div> -->
      </div>
    </div>
  </div>
</div>

<ng-template #lmcontent let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ 'REASON' | translate }}</h4>
        <button type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="ReasonForm" (ngSubmit)="onEditLessonSubmit(modal)">
        <div class="modal-body">
            <div class="row mb-3">
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label mb-1">{{"REASON" | translate}}</label>
                        <textarea class="form-control " type="text" formControlName="reason" rows="5"
                            [class.invalid]="ReasonForm.get('reason')?.invalid && isSubmited"
                            [placeholder]="'REASON_HERE' | translate"></textarea>
                        <div class="error"
                            *ngIf="ReasonForm.get('reason')?.invalid && (ReasonForm.get('reason')?.dirty || isSubmited)">
                            يجب إدخال سبب الرفض
                        </div>
                    </div>
                
                  
                </div>
            </div>

        </div>
        <div class="modal-footer action-buttons">
            <button class="btn btn-primary" type="button" aria-label="Close"
                (click)="modal.dismiss('Cross click')">{{"CLOSE" |translate}}</button>
            <button class="btn success" type="submit">{{"SAVE" |translate}}</button>
        </div>
    </form>
</ng-template>